.banniere {
  border-radius: 25px;
  height: 180px;
  margin-bottom: 35px;
  position: relative;
}

.banniere-img {
  border-radius: 25px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banniere-sombre {
  background-color: #000000;
  border-radius: 25px;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.banniere-txt {
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  left: 50%;
  right: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .banniere-txt {
    font-size: 25px;
    left: 15px;
    transform: translateY(-50%);
  }
}